{% extends 'inc/base.html' %}

{% load static %}

{% block content %}

<h1> New Question </h1>

<form class="mt-4">
    <div class="form-group row mb-3">
        <div class="alert alert-danger" role="alert">
            Title cannot be empty!
        </div>
        <label for="input-title" class="col-1 col-form-label">Title</label>
        <div class="col-11">
            <input type="text" class="form-control" id="input-title" placeholder="Title...">
        </div>
    </div>

    <div class="form-group row mb-3">
        <div class="alert alert-danger" role="alert">
            Answer text cannot be empty!
        </div>
        <label for="input-text" class="col-1 col-form-label">Text</label>
        <div class="col-11">
            <textarea rows="10" type="text" class="form-control" id="input-text" placeholder="Text..."></textarea>
        </div>
    </div>

    <div class="form-group row mb-3">
        <label for="input-tags" class="col-1 col-form-label">Tags</label>
        <div class="col-11">
            <input maxlength="256" type="text" class="form-control" id="input-tags"
                   placeholder="Django, Postgres...">
        </div>
    </div>

    <button type="submit" class="btn btn-ask offset-sm-1">Ask</button>
</form>

{% endblock %}
