{% load static %}

<div class="sidebar">
    <div class="popular-labels">
        <h2 class="mt-5">Популярные метки:</h2>
        <div class="container">
            {% for label in popular_labels %}
                <a class="tag" href="{% url 'label' label=label %}">{{ label }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="best-members">
        <h2>Лучшие участники:</h2>
        <ul>
            {% for member in best_members %}
                <li class="mb-1">
                    {{ member.user.first_name }} {{ member.user.last_name }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
